# Development Notebook

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/day-1.txt')

In [4]:
df.head()

   1655
0  1384
1  1752
2  1919
3  1972
4  1766

In [6]:
from numpy import loadtxt
lines = loadtxt("../data/day-1.txt", comments="#", delimiter=",", unpack=False)

In [10]:
pairs = 2020 - lines

In [19]:
a = np.concatenate([lines, pairs])
u, c = np.unique(a, return_counts = True)
u[c > 1].prod()

960075.0