# Day 5
## Experiment Notebook
### Determining the seat on a plane

In [15]:
def load_test_data():
    with open('../data/day-5-test.txt', 'r') as infile:
        data = infile.read().split()
        return data

print(load_test_data()[1])
test_data = load_test_data()

FFFBBBFRRR

In [12]:
#Â Can this just be dine in binary?
int('0111111', 2)

63

In [38]:
def to_binary_row(letter):
    if letter == 'F':
        return '0'
    else:
        return '1'

def to_binary_col(letter):
    if letter == 'L':
        return '0'
    else:
        return '1'

def get_row_value(input_string):
    return int(''.join([to_binary_row(x) for x in input_string]), 2)

def get_col_value(input_string):
    return int(''.join([to_binary_col(x) for x in input_string]), 2)

print(get_value(test_data[0][0:7]))
    
print(test_data[0][0:7])

70
BFFFBBF

In [32]:
def get_seat(input):

    # get row
    row = get_row_value(input[0:7])

    # get seat number
    seat_no = get_col_value(input[7:])

    # output as tuple
    return row, seat_no

def get_seat_id(input):

    row, seat_no = get_seat(input)
    return row * 8 + seat_no

get_seat_id(test_data[0])

567

In [35]:
[get_seat_id(val) for val in test_data]

[567, 119, 823]

In [37]:
get_value('BBFFBBF')

102

In [ ]:
get_value('RLL')